:root {
    --main-bg-color: #0A131A;
    --infobar-color: #254A6A;
    --tile-color: #593E73;
    --search-button-color: #593E73;
    --footer-color: #0A131A;
    --footer-text-color: #666666;
    --date-color: white;
    --time-color: white;
}

body {
    background-color: var(--main-bg-color);
}

#infobar {
    background-color: var(--infobar-color);
}

#top-tile,
#bottom-tile,
#search-button {
    background-color: var(--tile-color);
}

#search-function {
    text-align: center;
    width: 100%;
}

#search-button {
    width: 100%;
    font-size: 1.3em;
}

#fact-area {
    height: 50%;
}

#cat-image {
    opacity: 60%;
}

#footer-area {
    padding-bottom: 1%;
    background-color: var(--footer-color);
    color: var(--footer-text-color);
}

#date {
    color: var(--date-color);
}

#time {
    color: var(--time-color);
}

#am-pm {
    /* display: none; */
    background-color: var(--tile-color);
    color: white;
}

#settings {
    width: 2.5em;
}

#settings-gear {
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}

#settings-area {}