body{
    background-color: #0A131A;
}
#infobar{
    background-color: #254A6A;
}
#top-tile{
    background-color: #593E73;
}
#bottom-tile{
    background-color: #593E73;
}
#search-function{
    text-align: center;
    width: 100%;
}
#search-button{
    width: 100%;
    background-color: #593E73;
    font-size:1.3em;
}
#fact-area{
    height:50%;
}
#cat-image{
    opacity:60%;
}
#footer-area{
    padding-bottom:1%;
    background-color: #0A131A;
    color: #666666;
}
