:root {
    --main-bg-color: #0A131A;
    --infobar-color: #254A6A;
    --tile-color: #593E73;
    --search-button-color: #593E73;
    --footer-color: #0A131A;
    --footer-text-color: #666666;
    --date-color: white;
    --time-color: white;
    --settings-button-color: #593E73;
    --settings-button-hover-color: #d6a9ff;
    --settings-button-text-color: white;
    --slider-color: #593E73;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    overflow: hidden;
    
}

#infobar {
    background-color: var(--infobar-color);
    height: 10vh !important;
}

#top-tile,
#bottom-tile,
#search-button {
    background-color: var(--tile-color);
}

#search-function {
    text-align: center;
    width: 100%;
}

#search-button {
    width: 100%;
    font-size: 1.3em;
}

#cat-area {
    height: 90vh;
}

#fact-area {
    height: 50%;
}

#cat-image {
    opacity: 60%;
}

#footer-area {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--footer-color);
    color: var(--footer-text-color);
}

#date {
    color: var(--date-color);
}

#time {
    color: var(--time-color);
}

.settings-button {
    /* display: none; */
    background-color: var(--settings-button-color);
    color: var(--settings-button-text-color);
    transition: background-color 0.3s ease;
}

.settings-button:hover {
    color: var(--settings-button-text-color);
    background-color: var(--settings-button-hover-color);
}

.settings-button:active, .settings-button:focus {
    color: var(--settings-button-text-color);
    box-shadow: 0 !important;
    outline: 0!important;
}

#settings {
    width: 2.5em;
}

#settings:hover {
    cursor: pointer;
}

#settings-gear {
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}

#settings-area {
}

#opacity-slider {
    display: none;
    width: 100%;
    background: var(--slider-color) !important;
    background-color: var(--slider-color) !important;
    cursor: pointer;
    appearance: none;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade-out {
    animation: fadeOut 0.5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

.spin {
    animation: spin 0.5s linear;
}